<!--新規登録-->
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h2>Sign up</h2>
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div>
            <label for="inputName">Name</label>
            <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName"%>
          </div>
          <div>
            <label for="inputEmail">Email</label>
            <%= f.email_field :email, class:"form-control", id:"inputEmail"%>
          </div>
          <div>
            <label for="inputPassword">Password (6 characters minimum)</label>
            <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword"%>
          </div>
          <div>
            <label for="inputConfirmPassword">Password confirmation</label>
            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword"%>
          </div>
          <%= f.submit "Sign up", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
        <% end %>
        <!--部分テンプレート-->
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>