  <!--部分テンプレート-->

  <h2>User info</h2>
  <div>
    <% if current_user.profile_image.nil?%>
      <%= image_tag 'no_image.png' ,size: '100x100'%>
    <% else %>
      <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
    <% end %>
  </div>
  <div>
    <span>name </span>
    <span><%= current_user.name%></span>
  </div>
  <div>
    <span>introduction </span>
    <span><%= current_user.introduction %></span>
  </div>
  <%=link_to edit_user_path(current_user.id) do%>
    <i class="fas fa-wrench"></i>
  <% end %>


  <h2>New book</h2>
  <%= form_with model:newbook, local:true do |f| %>
  <p>title</p>
  <%= f.text_field :title%>
  <p>option</p>
  <%= f.text_field :body%>
  <div><%= f.submit 'Create Book' ,class:"btn btn-lg btn-block btn-base-1 mt-20"%></div>
  <% end %>