       <!--index,show 部分テンプレート(サイドバー)-->

      <h2>User info</h2>
      <div>
        <%= attachment_image_tag user, :profile_image, :fill, 100, 100 ,fallback: "no_image.png",size:'100x100' %>
      </div>
      <div>
        <span>name </span>
        <span><%= user.name%></span>
      </div>
      <div>
        <span>introduction</span>
        <span><%= user.introduction %></span>
      </div>
        <%=link_to "", edit_user_path(user.id) , class:"fas fa-wrench"%>

      <h2>New book</h2>
      <%= form_with model:newbook, local:true do |f| %>
        <p>title</p>
        <%= f.text_field :title%>
        <p>option</p>
        <%= f.text_field :body%>
        <div><%= f.submit 'Create Book' %></div>
      <% end %>
